body {
  flex-wrap:wrap;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(121, 177, 220);
  margin: auto;
  padding: auto;
  color: #0e0c0c;

}
.container {
  width: 80%;
  margin: 20px auto;
  background-color: #12d3bd;
  padding: 20px;
}
h1,
h2,
h3 {
  color: #0d0e0d;
}
.header {
  text-align: center;
  margin-bottom: 40px;
}
.header h1 {
  margin: 0;
}
.section {
  margin-bottom: 30px;
}
.section h2 {
  border-radius: 2px solid #0056b3;
  padding-bottom: 5px;
}
.section ul {
  list-style-type: none;
  padding: 0;
}
.section ul li {
  margin: 10px 0;
}
.skills li,
.education li {
  margin: 5px 0;
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: #252a0b;
  color: #25b64e;
  text-align: center;
  padding: 5;
  z-index: 20000;
  width:100%;
}
.sticky-header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:6;
  scroll-margin-top:2px;
  margin: auto
}
.sticky-header ul li a {
  color: rgb(213, 24, 172);
}
@media only screen and (min-width: 320px){
  .experience-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1020px){
  .experience-container {
    grid-template-columns: 1fr 1fr;
  }
}




