body{
  background-color: rgb(190, 70, 201);
  font-family: 'Times New Roman', Times, serif;
  font-size: 2vw;
  padding:10%;
  max-width: 1010%;
  min-width: 320%;
}
@media (min-width: 1280px){
  body{
    background-color: bisque;
  }
}
#about {
  scroll-margin-top:10%;
}
#experience{
 scroll-margin-top:3%;
}
#skills{
  scroll-margin-top:3%;
}
.about-content p{
  text-decoration: solid;
  text-align: center;
  text-decoration: rgb(7, 7, 6);
}
.about-content{
  text-decoration:black ;
  font-style:normal;
  font-family: fantasy;
  font-size: xx-large;
}
.experience-container {
  display: flex;
  flex-direction: column-reverse;
  border: #060606;
}
.sticky-header {
  position: sticky;
  top: 0;
  background-color: #0f0f0f;
  color: #fff;
  text-align: center;
  padding: 5;
  z-index: 20000;
  width:100%;
}
.sticky-header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  gap:10;
  scroll-margin-top:2px;
  margin: auto
}
.sticky-header ul li a {
  color: rgb(215, 21, 180);
}
.experience-container div{
  text-align: justify;
  background-color: rgb(189, 167, 167);
  border-style: solid;
  border-color: #fff;
}
.other-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 18;
  scroll-margin-top: 3em;
}

.Skills ul{
  display:flex;
  position:sticky;
  background-color: #1d178b;
  color: #fff
  padding 75 0;
  text-align: center;
}

.navigation{
  position: fixed;
  top:0;
  display: flex;
  width: 100;
  justify-content: space-between;
  list-style-type: none;
  margin: auto
}

.navigation ul li a {
  color: rgb(216, 15, 179);
}



